#map {
    width: 100%;
    height: 500px;
}

.container {
    padding: 7%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-container div {
    margin-right: 20px;
    margin-left: 20px;;
}

.jumbotron {
    background-color: #7dcdcd;
    color: floralwhite;
}

.card-header {
    background-color: #7dcdcd;
    border-color: #7dcdcd;
    color: floralwhite;
}

.card {
    border-color: #7dcdcd;
}

.card-body {
    border-color: #7dcdcd;
}