hr {
  height: 1px;
  border: none;
  color: #333;
  background-color: #333;
}

h3 {
  margin-top: 35px;
}

.health-form {
  margin-right: 30px;
}

.container {
  padding: 5% 7% 0 7%;
}

.info-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#feedback {
  opacity: 0;
  position: relative;
  top: 100px;
  transition: opacity 0.5s ease, top 0.5s ease;
}

#feedback.show {
  opacity: 1;
  top: 0;
}

.feedback-container {
  width: 400px;
  margin-left: 90px;
}

#tip {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  background-color: black;
  bottom: 3px;
  position: relative;
  margin-left: 7px;
  cursor: pointer;
}

#tip-box {
  width: 130px;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  font-size: small;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  opacity: 0;
  bottom: 60px;
  transition: all 0.3s ease;
}

#tip-box.show {
  right: 20px;
  opacity: 1;
}

#health {
  margin-top: 15px;
  width: 400px;
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(
    270deg,
    rgba(69, 255, 59, 1) 0%,
    rgba(196, 255, 73, 1) 25%,
    rgb(241, 239, 93) 50%,
    rgb(241, 189, 66) 75%,
    rgba(255, 51, 51, 1) 100%
  );
}

#marker {
  position: relative;
  width: 2px;
  height: 20px;
  left: 50%;
  background-color: black;
}

.controls-container {
  box-sizing: content-box;
  width: 450px;
  /* background-color: rgb(250, 250, 250); */
  /* padding: 35px; */
}

.input-container {
  padding-top: 25px;
}

.slider-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  margin-top: 25px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 5px;
  height: 15px;
  background: #e4e4e4;
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid blue;
  background: #0084ff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 7px solid rgb(0, 81, 255);
  background: white;
  cursor: pointer;
}
