.container {
  padding: 10%;
}

.input-container {
  width: 400px;
  padding-top: 25px;
}

.slider-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  margin-top: 25px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 5px;
    height: 15px;
    background: #e4e4e4;
    border-radius: 10px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid blue;
    background: #0084ff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 7px solid rgb(0, 81, 255);
    background: white;
    cursor: pointer;
  }