{% extends "layout.html" %} {% block title %}{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='detail.css') }}"
/>
{% endblock %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Locations</h3>
      <div id="map"></div>
    </div>
    <div class="col">
      <canvas id="radar-chart" height="400" width="400">click me</canvas>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='detail.js') }}"></script>
<script>

  var lat = JSON.parse("{{ lat }}");
  var lng = JSON.parse("{{ lng }}");
  var population = JSON.parse("{{ population }}");
  var suburb_string = "{{ suburb }}";
  suburb_string = suburb_string.replace(/&#34;/g, '');
  suburb_string = suburb_string.substring(1,suburb_string.length-1)
  var suburb =  suburb_string.split(", ")
  console.log(suburb)
  var cultural_diversity = JSON.parse("{{ cultural_diversity }}");
  var age_diversity = JSON.parse("{{ age_diversity }}");


  var ctx = document.getElementById("radar-chart").getContext("2d")
  var radar_chart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ["Population","Age Diversity","Regionality"],
        datasets: [{
            label: "Lynbrook",
            data: [0.5,39,410]
        }]
    },
    options:Chart.defaults.radar
  });

  function updateChart(area,age,cultural) {
    radar_chart.data.datasets = [{
        label: area,
        data: [0.5,age,cultural]
    }]
    radar_chart.update()
  }

  function addEvent(m,i) {
    m.addListener("click", () => {updateChart(suburb[i],age_diversity[i],cultural_diversity[i])});
  } 


  function initMap() {
    // The location of Uluru
    var uluru = { lat: parseFloat(lat[0]), lng: parseFloat(lng[0]) };
    console.log(suburb)
    // The map, centered at Uluru
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: uluru,
    });

    // The marker, positioned at Uluru
    for (var i=0; i < lat.length; i++) {
      var marker = new google.maps.Marker({
        position: { lat: parseFloat(lat[i]), lng: parseFloat(lng[i]) },
        map: map,
        icon: { url: "http://maps.google.com/mapfiles/kml/paddle/" +(i+1).toString()+ ".png" },
      });
      addEvent(marker,i);
    }
  }
    
</script>

<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb7IIUbrQAD4rmWhFPvjG_jS3yU1K5aYc&callback=initMap"
  type="text/javascript"
></script>
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>

{% endblock %}
