{% extends "layout.html" %} {% block title %}{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='detail.css') }}"
/>
{% endblock %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="jumbotron">
  <h2 class="display-4" id="suburb"></h2>
  <h4>Regional Australia</h4>
  <h4>Ready when you are.</h4>
</div>
<div class="container">
  <div class="row">
    <h2>Locations</h2>
    <div id="map"></div>
  </div>
</div>

<div class="container">
  <div class="row alert alert-primary" role="alert">
    <h3>Median Household Weekly Income: <span id="household-income"></span></h3>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card text-center">
        <div class="card-header">
          <h3>Suburb Overview</h3>
        </div>
        <div class="card-body">
          <canvas id="radar-chart" height="400" width="400">click me</canvas>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-center">
        <div class="card-header">
          <h3>Travel Preferences</h3>
        </div>
        <div class="card-body">
          <canvas id="travel-method" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='detail.js') }}"></script>
<script>
  function httpGet(theUrl) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", theUrl, false); // false for synchronous request
    xmlHttp.send(null);
    return xmlHttp.responseText;
  }

  var lat = JSON.parse("{{ lat }}");
  var lng = JSON.parse("{{ lng }}");
  var population = JSON.parse("{{ population }}");
  var suburb_string = "{{ suburb }}";
  suburb_string = suburb_string.replace(/&#34;/g, "");
  suburb_string = suburb_string.substring(1, suburb_string.length - 1);
  var suburb = suburb_string.split(", ");

  var data = "{{ data_calls }}";

  var userInfo = "{{ userInfo }}";
  userInfo = userInfo.substring(1, userInfo.length - 1).split(", ");

  data = data.replace(/&#39;/g, "");
  data = data.replace(/amp;/g, "");
  data = data.substring(1, data.length - 1);
  var data = data.split(", ");
  var cultural_diversity = JSON.parse("{{ cultural_diversity }}");
  var age_diversity = JSON.parse("{{ age_diversity }}");
  var dataInfo = JSON.parse(httpGet(data[0]))["features"][0]["properties"];

  // Initialise key statistics
  document.getElementById("household-income").innerHTML =
    "$" + dataInfo["median_household_income_weekly"];
  document.getElementById("suburb").innerHTML = suburb[0];

  var ctx = document.getElementById("radar-chart").getContext("2d");
  var radar_chart = new Chart(ctx, {
    type: "radar",
    data: {
      labels: [
        "Population",
        "Age Diversity",
        "Cultural Diversity",
        "Cost of Living",
      ],
      datasets: [
        {
          label: dataInfo["ssc_name"],
          data: [
            parseFloat(dataInfo["total_population"]) / 100313,
            age_diversity[0],
            cultural_diversity[0],
            parseFloat(dataInfo["median_weekly_rent"]) / 740,
          ],
          backgroundColor: ["#007bff29"],
        },
        {
          label: "User Preferences",
          data: [
            parseFloat(userInfo[3]),
            parseFloat(userInfo[1]),
            parseFloat(userInfo[0]),
            parseFloat(userInfo[2]),
          ],
          backgroundColor: ["#dc354552"],
        },
      ],
    },
    options: {...Chart.defaults.radar, responsive:false},
  });

  function updateChart(i, specificData) {
    radar_chart.data.datasets = [
      {
        label: suburb[i],
        data: [
          parseFloat(specificData["total_population"]) / 100313,
          age_diversity[i],
          cultural_diversity[i],
          parseFloat(specificData["median_weekly_rent"]) / 740,
        ],
        backgroundColor: ["#007bff29"],
      },
      {
        label: "User Preference",
        data: [userInfo[3], userInfo[1], userInfo[0], userInfo[2]],
        backgroundColor: ["#dc354552"],
      },
    ];
    radar_chart.update();
  }

  var ctx_travel = document.getElementById("travel-method").getContext("2d");
  var pie_chart = new Chart(ctx_travel, {
    type: "doughnut",
    data: {
      labels: [
        dataInfo["Top_1_Method_Travel_to_Work"],
        dataInfo["Top_2_Method_Travel_to_Work"],
        dataInfo["Top_3_Method_Travel_to_Work"],
        dataInfo["Top_4_Method_Travel_to_Work"],
      ],
      datasets: [
        {
          label: dataInfo["ssc_name"],
          data: [
            parseFloat(dataInfo["Top1_One_Method_Value_Percent"]),
            parseFloat(dataInfo["Top2_One_Method_Value_Percent"]),
            parseFloat(dataInfo["Top3_One_Method_Value_Percent"]),
            parseFloat(dataInfo["Top4_One_Method_Value_Percent"]),
          ],
          backgroundColor: ["#FF6384", "#4BC0C0", "#FFCE56", "#459ae4"],
        },
      ],
    },
    options: {...Chart.defaults.doughnut, responsive:false},
  });

  function updatePieChart(specficData) {
    (pie_chart.data = {
      labels: [
        specficData["Top_1_Method_Travel_to_Work"],
        specficData["Top_2_Method_Travel_to_Work"],
        specficData["Top_3_Method_Travel_to_Work"],
        specficData["Top_4_Method_Travel_to_Work"],
      ],
      datasets: [
        {
          label: specficData["ssc_name"],
          data: [
            parseFloat(specficData["Top1_One_Method_Value_Percent"]),
            parseFloat(specficData["Top2_One_Method_Value_Percent"]),
            parseFloat(specficData["Top3_One_Method_Value_Percent"]),
            parseFloat(specficData["Top4_One_Method_Value_Percent"]),
          ],
          backgroundColor: ["#FF6384", "#4BC0C0", "#FFCE56", "#459ae4"],
        },
      ],
    }),
      pie_chart.update();
  }

  function addEvent(m, i) {
    m.addListener("click", () => {
      // Get relevant data for suburb
      dataInfo = JSON.parse(httpGet(data[i]))["features"][0]["properties"];
      updateChart(i, dataInfo);
      updatePieChart(dataInfo);
      console.log(dataInfo);

      // Update the key statistics
      document.getElementById("household-income").innerHTML =
        "$" + dataInfo["median_household_income_weekly"];
      document.getElementById("suburb").innerHTML = suburb[i];
    });
  }

  var styles = [
    {
      featureType: "landscape.natural",
      elementType: "geometry.fill",
      stylers: [
        {
          visibility: "on",
        },
        {
          color: "#e0efef",
        },
      ],
    },
    {
      featureType: "poi",
      elementType: "geometry.fill",
      stylers: [
        {
          visibility: "on",
        },
        {
          hue: "#1900ff",
        },
        {
          color: "#c0e8e8",
        },
      ],
    },
    {
      featureType: "road",
      elementType: "geometry",
      stylers: [
        {
          lightness: 100,
        },
        {
          visibility: "simplified",
        },
      ],
    },
    {
      featureType: "road",
      elementType: "labels",
      stylers: [
        {
          visibility: "off",
        },
      ],
    },
    {
      featureType: "transit.line",
      elementType: "geometry",
      stylers: [
        {
          visibility: "on",
        },
        {
          lightness: 700,
        },
      ],
    },
    {
      featureType: "water",
      elementType: "all",
      stylers: [
        {
          color: "#7dcdcd",
        },
      ],
    },
  ];

  function initMap() {
    // The location of Uluru
    var uluru = { lat: parseFloat(lat[0]), lng: parseFloat(lng[0]) };
    // The map, centered at Uluru
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: uluru,
      styles: styles,
    });
    // The marker, positioned at Uluru
    for (var i = 0; i < lat.length; i++) {
      var marker = new google.maps.Marker({
        position: { lat: parseFloat(lat[i]), lng: parseFloat(lng[i]) },
        map: map,
        label: "" + (i + 1),
      });
      addEvent(marker, i);
    }
  }
</script>

<script async defer >
  var source = "{{ google_config }}";
  source = source.replace(/&#34;/g, "");
  var scriptElement = document.createElement("script");
  scriptElement.src = source;
  document.write("\<script src='" + source + "'\>\</script\>");
</script>

<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>

{% endblock %}
