{% extends "layout.html" %} {% block title %}{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='home.css') }}"
/>
<script src="{{url_for('static', filename='home.js')}}"></script>
{% endblock %} {% block content %}

<div class="container">
  <h1>Early Super Withdrawal Tool</h1>

  <div class="info-container">
    <!-- Inputs -->
    <div class="controls-container">
      <!-- Withdrawal Amount -->
      <div class="slider-label-container">
        <h5>Withdrawal Amount</h5>
        <h5 id="draw-amount-disp">4000</h5>
      </div>
      <input
        id="draw-amount"
        type="range"
        min="0"
        max="15000"
        class="slider"
        value="4000"
        step="500"
        oninput="updateInput(this.value, this.id);"
      />

      <!-- My Age -->
      <div class="input-container">
        <div class="slider-label-container">
          <h5>Current Age</h5>
          <h5 id="my-age-disp">32</h5>
        </div>
        <input
          id="my-age"
          type="range"
          min="18"
          max="100"
          class="slider"
          value="32"
          oninput="updateInput(this.value, this.id);"
        />
      </div>

      <!-- Retirement Age -->
      <div class="input-container">
        <div class="slider-label-container">
          <h5>Retirement Age</h5>
          <h5 id="ret-age-disp">65</h5>
        </div>
        <input
          id="ret-age"
          type="range"
          min="18"
          max="100"
          class="slider"
          value="65"
          oninput="updateInput(this.value, this.id);"
        />
      </div>

      <!-- Income -->
      <div class="input-container">
        <h5>Yearly Income</h5>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            id="income"
            type="text"
            class="form-control"
            value="65000"
            aria-label="Amount (to the nearest dollar)"
          />
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>

      <!-- Current Super Balance -->
      <div class="input-container">
        <h5>Current Super Balance</h5>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            id="curr-super"
            type="text"
            value="50000"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
          />
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>

      <!-- Target Retirement Balance -->
      <div class="input-container">
        <h5>Target Retirement Balance</h5>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            id="tgt-ret"
            type="text"
            value="1000000"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
          />
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>

      <!-- Calculate -->
      <button
        type="button"
        class="btn btn-primary btn-block"
        onclick="calculate();"
      >
        Calculate
      </button>
    </div>

    <!-- Results Panel -->
    <div id="feedback" class="feedback-container">
      <h2>Your final balance reduction</h2>
      <h1
        id="penalty"
        style="color: rgb(59, 59, 59); width: auto; margin: auto;"
      >
        <strong></strong>
      </h1>
      <br />
      <div>
        <div id="planes"></div>
      </div>
      <h3>How you are tracking</h3>
      <hr />
      <h5>Remaining time to reach target balance</h5>
      <h4 id="target"></h4>
      <h5>Estimated balance at retirement age</h5>
      <h4 id="endBalance"></h4>
      <h3>Your super health</h3>
      <div id="tip">?</div>
      <div style="margin-bottom: 30px;">
        <div id="health">
          <div id="marker"></div>
        </div>
        <span id="healthlow" style="float: left;"></span>
        <span id="healthhigh" style="float: right;"></span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Plan your retirement</h1>

  <!-- Inputs -->
  <div class="input-container">
    <form action="{{ url_for('handle_data') }}" method="post">
      <!-- Cultural Diversity Amount -->
      <div class="slider-label-container">
        <h5>Cultural Diversity Amount</h5>
        <h5 id="cult-diversity-amount-disp">50</h5>
      </div>
      <input
        id="cult-diversity-amount"
        type="range"
        name="cultureDiversity"
        min="0"
        max="100"
        class="slider"
        value="50"
        step="1"
        oninput="updateInput(this.value, this.id);"
      />

      <!-- Cultural Diversity Amount -->
      <div class="slider-label-container">
        <h5>Age Diversity Amount</h5>
        <h5 id="age-diversity-amount-disp">50</h5>
      </div>
      <input
        id="age-diversity-amount"
        type="range"
        name="ageDiversity"
        min="0"
        max="100"
        class="slider"
        value="50"
        step="1"
        oninput="updateInput(this.value, this.id);"
      />

      <!-- Calculate -->
      <button type="submit" class="btn btn-primary btn-block">
        Calculate
      </button>
    </form>
  </div>
</div>

{% endblock %}
