{% extends "layout.html" %} {% block title %}{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='home.css') }}"
/>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="{{url_for('static', filename='home.js')}}"></script>
{% endblock %} {% block content %}

<div class="container">
  <h1 class="display-3">Early Super Withdrawal Tool</h1>
  <p class="lead">Money you take out today means crystallising current losses, giving up the benefits of future compound returns, and the eventual recovery in investment markets.</p>
  <p class="lead">This calculator shows the impact of withdrawing your super early.</p>

  <div class="info-container">
    <!-- Inputs -->
    <div class="controls-container">
      <!-- Withdrawal Amount -->
      <div class="slider-label-container">
        <h5>Withdrawal Amount</h5>
        <h5 id="draw-amount-disp">4000</h5>
      </div>
      <input
        id="draw-amount"
        type="range"
        min="0"
        max="15000"
        class="slider"
        value="4000"
        step="500"
        oninput="updateInput(this.value, this.id);"
      />

      <!-- My Age -->
      <div class="input-container">
        <div class="slider-label-container">
          <h5>Current Age</h5>
          <h5 id="my-age-disp">32</h5>
        </div>
        <input
          id="my-age"
          type="range"
          min="18"
          max="100"
          class="slider"
          value="32"
          oninput="updateInput(this.value, this.id);"
        />
      </div>

      <!-- Retirement Age -->
      <div class="input-container">
        <div class="slider-label-container">
          <h5>Retirement Age</h5>
          <h5 id="ret-age-disp">65</h5>
        </div>
        <input
          id="ret-age"
          type="range"
          min="18"
          max="100"
          class="slider"
          value="65"
          oninput="updateInput(this.value, this.id);"
        />
      </div>

      <!-- Income -->
      <div class="input-container">
        <h5>Yearly Income</h5>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            id="income"
            type="text"
            class="form-control"
            value="65000"
            aria-label="Amount (to the nearest dollar)"
          />
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>

      <!-- Current Super Balance -->
      <div class="input-container">
        <h5>Current Super Balance</h5>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            id="curr-super"
            type="text"
            value="50000"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
          />
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>

      <!-- Target Retirement Balance -->
      <div class="input-container">
        <h5>Target Retirement Balance</h5>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            id="tgt-ret"
            type="text"
            value="1000000"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
          />
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>

      <!-- Calculate -->
      <button
        type="button"
        class="btn btn-primary btn-block"
        onclick="calculate();"
      >
        Calculate
      </button>
    </div>

    <!-- Results Panel -->
    <div id="feedback" class="feedback-container">
      <h2>Your final balance reduction</h2>
      <h1
        id="penalty"
        style="color: rgb(59, 59, 59); width: auto; margin: auto;"
      >
        <strong></strong>
      </h1>
      <br />
      <div>
        <div id="planes"></div>
      </div>
      <h3>How you are tracking</h3>
      <hr />
      <h5>Remaining time to reach target balance</h5>
      <h4 id="target"></h4>
      <h5>Estimated balance at retirement age</h5>
      <h4 id="endBalance"></h4>
      <div style="display: flex; flex-direction: row; align-items: baseline;">
        <h3>Your super health</h3>
        <div id="tip" onclick="toggleTip(this.id);">
          ?
        </div>
        <div id="tip-box">
          Compares your super balance to those of similar age and income
        </div>
      </div>
      <div style="margin-bottom: 30px;">
        <div id="health">
          <div id="marker"></div>
        </div>
        <span id="healthlow" style="float: left;"></span>
        <span id="healthhigh" style="float: right;"></span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>The effects of compounding</h1>
  <div style="display: flex; flex-direction: row; margin-top: 40px;">
    <div style="width: 400px; margin-right: 20px;">
      <h3>Your balance grows by more each year</h3>
      <h5>
        With compounding, your balance will increase exponentially. Withdrawing
        your super early means you will miss out on increasing amounts return
        over time
      </h5>
    </div>
    <canvas id="myChart" width="400" height="300"></canvas>
  </div>
</div>

<div class="container">
  <h1>Plan for a withdrawal</h1>
  <h5>
    Early withdrawal can have a significant financial cost so here are some ways to
    minimise the impacts.
  </h5>
  <!-- Payment Planner -->
  <div style="display: flex; flex-direction: row; align-items: center;">
    <div style="width: 400px;">
      <h3>Payment Planner</h3>
      <h5>
        Make up the lost ground with a temporary boost in your contribution.
      </h5>
      <h5>The more you contribute, the sooner your super will recover.</h5>
    </div>
    <div class="feedback-container">
      <h2
        id="extra-pmt"
        style="
          width: 100%;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 20px;
        "
      ></h2>
      <div class="slider-label-container">
        <h5>Payment duration in years</h5>
        <h5 id="extra-contrib-disp">2</h5>
      </div>
      <input
        id="extra-contrib"
        type="range"
        min="1"
        max="10"
        class="slider"
        value="2"
        step="1"
        oninput="updateInput(this.value, this.id);"
      />
    </div>
  </div>
  <!-- Relocation -->
  <h3>Could relocation work for you?</h3>
  <h5>
    Moving regionally can greatly lower the cost of living. There's a regional
    Victoria for everyone, find what's important to you below
  </h5>
  <!-- Inputs -->
  <div class="input-container">
    <form action="{{ url_for('handle_data') }}" method="post">
      <!-- Chronic health -->
      <div class="slider-label-container">
        <h5>Do you have a chronic health problem?</h5>
        <div class="health-form">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>

      <!-- Required Health Services -->
      <div class="slider-label-container input-container">
        <h5>Required health facilities</h5>
        <div class="health-form">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check1"
            />
            <label class="form-check-label" for="check1">
              Tertiary hospital
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check0"
            />
            <label class="form-check-label" for="check0">
              Specialist Medical Treatment
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check2"
            />
            <label class="form-check-label" for="check2">
              Kidney Dialysis
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check3"
            />
            <label class="form-check-label" for="check3">
              Primary Care (GPs)
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check4"
            />
            <label class="form-check-label" for="check4">
              Residential Aged Care Facilities
            </label>
          </div>
        </div>
      </div>

      <!-- Transport -->
      <div class="slider-label-container input-container">
        <h5>Choose your preferred mode of transport</h5>
        <select
          style="align-self: center; max-width: 600px;"
          class="custom-select"
        >
          <option selected>Select mode of transport</option>
          <option value="1">Car</option>
          <option value="2">Public Transport</option>
          <option value="3">Cycling</option>
          <option value="3">Walking</option>
        </select>
      </div>

      <!-- Rent -->
      <div class="slider-label-container input-container">
        <h5>Select your weekly rent allocation</h5>
        <select
          style="align-self: center; max-width: 600px;"
          class="custom-select"
          name="rent-value"
        >
          <option value="1"><$250</option>
          <option value="2" selected="selected">$250-500</option>
          <option value="3">$500-750</option>
          <option value="4">$750+</option>
        </select>
      </div>

      <!-- Cultural Diversity Amount -->
      <div class="slider-label-container input-container">
        <h5>How much do you value cultural diversity?</h5>
        <h5 id="cult-diversity-amount-disp">50</h5>
      </div>
      <input
        id="cult-diversity-amount"
        type="range"
        name="cultureDiversity"
        min="0"
        max="100"
        class="slider"
        value="50"
        step="1"
        oninput="updateInput(this.value, this.id);"
      />

      <!-- Age Diversity Amount -->
      <div class="slider-label-container input-container">
        <h5>How much do you value age diversity?</h5>
        <h5 id="age-diversity-amount-disp">50</h5>
      </div>
      <input
        id="age-diversity-amount"
        type="range"
        name="ageDiversity"
        min="0"
        max="100"
        class="slider"
        value="50"
        step="1"
        oninput="updateInput(this.value, this.id);"
      />

      <!-- Age Diversity Amount -->
      <div class="slider-label-container input-container">
        <h5>Do you want to live in a heavily populated suburb?</h5>
        <h5 id="population-amount-disp">50</h5>
      </div>
      <input
        id="population-amount"
        type="range"
        name="population"
        min="0"
        max="100"
        class="slider"
        value="50"
        step="1"
        oninput="updateInput(this.value, this.id);"
      />

      <!-- Calculate -->
      <button type="submit" class="btn btn-primary btn-block">
        Explore your options
      </button>
    </form>
  </div>
</div>
<div style="padding-bottom: 7%;"></div>

{% endblock %}
